#title {
  text-align: center;
}

#container {
}

#code-pane {
  margin:1em;
}

#blocks-pane {
  margin:1em;
}

#editor + div {
  border: 3px solid gray;
  font-size: larger;
}


#block-button {
  text-align: center;
}

#block-button button {
  font-size: larger;
}

/* ---------------------------------------- */
/*         style for blocks output          */
/* ---------------------------------------- */

#blocks {
  margin-top: 1em;
  font-family: Monaco;
  font-size: 10pt;
}

.block {
    display: inline-block;
    vertical-align: middle;
    border: 1pt solid;
    width: fit-content;
    padding: 1px;
    position: relative;
}

.block:empty {
    height:1em;
}

.reg {
    border-color: blue; /*#7B9F35;*/
}

.map {
    border-color: green; /*#669999;*/
}

.vec {
    border-color: red; /*#AA3939;*/
}

